:root {
  --med-blue: #115ff4;
  --dk-blue: #060ce9;
  --green: #28a200;
  --med-purple: #8d2ab5;
  --dk-purple: #74119c;
}

td {
  font-size: 12px;
}

th,
td {
  background-color: var(--dk-blue);
  color: white;
  font-family: Copse;
  width: 150px;
  height: 120px;
  padding: 10px;
  text-align: center;
}
